.letImgPreview {border: 1px solid #D2D2D2; padding: 4px; margin-bottom: 20px; cursor: pointer;}
.letImgPreview {
	img {max-width: 100%; height: 115px;}
}
.sya_custom_dropzone {min-height: 300px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid rgba(0,0,0,0.03); background: rgba(0,0,0,0.03);}
.dropzone {
	.dz-default.dz-message {opacity: 1; -ms-filter: none; filter: none; -webkit-transition: opacity 0.3s ease-in-out; -moz-transition: opacity 0.3s ease-in-out; -o-transition: opacity 0.3s ease-in-out; -ms-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; background-image: url("../images/spritemap.png"); background-repeat: no-repeat; background-position: 0 0; position: absolute; width: 428px; height: 123px; margin-left: -214px; margin-top: -61.5px; top: 50%; left: 50%;}
	span {
		display: none;
	}
	&.dz-drag-hover .dz-message {opacity: 0.15; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)"; filter: alpha(opacity=15);}
}
.dz-drag-hover {background: rgba(0,0,0,0.04); border-color: rgbd(0,0,0,0.15);}
.custom_modal_gallery {width: 90%;
	.modal-body {min-height: 123px;}
  	#embed_url_settings {padding-top: 16px;
		img#embed_image_url {max-width: 100%; max-height: 200px;}
	  	.embed_field {margin-top: 10px;
		  	textarea, input {margin-left: 16px;}
		}
	  	span {margin-bottom: 10px;}
	}
}
.sya_media_library {max-height: 446px; margin: 0; overflow-y: auto; padding: 10px 0;
  	.icon-active {color: #1ab394; font-size: 15px; position: absolute; top: -10px; right: 6px; display: none; border: 1px solid; padding: 4px; background: white;}
  	.active {
	  	.letImgPreview {border-color: #1ab394;}
		.icon-active {display: block;}
	}
}
.sya_gallery_viewpath {padding: 10px 0; max-height: 446px; overflow-y: auto;
  	.sya_info_galllery {border-bottom: 1px solid #d2d2d2; margin: 0; padding-bottom: 10px;}
  	img {max-width: 120px;}
}
.sya_remove_img {
  cursor: pointer;
}
.sya_file_preview {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    position: relative;
}
.sya_preview_image {
    position: relative;
    display: table;
    margin: 8px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    text-align: center;
}